/*
 Override default minima colours to conform with WCAG AA contrast levels (1.4.3)

 https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
*/

.post-meta, .footer-col-wrapper {
  color: #757575;
}

a {
  color: #2373db;
}

.highlighter-rouge .highlight, pre, code {
  background-color:#f8f8ff;
}
